.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  background: #222;
  border-radius: 10px;
}

#display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
}

button {
  width: 50px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
}
